<!-- <header class="m-2">
  <h1 class="mt-2 text-xl font-bold">B52 Übergabebeleg</h1>
  <h2 class="mt-4 text-xs text-gray-600">B52 / Übergabebeleg / erstellen</h2>    
</header> -->

<div>
  <consumer></consumer>
  <content></content>
  <div class="m-2">
    <div class="nxt_button flex flex-col w-full mt-2" [formGroup]="signature">
      <label class="nxt_button_label my-2 text-sm leading-none">Unterschrift</label>
      <nxt-signature formControlName="sign" id="sign"></nxt-signature>
    </div>
  </div>
  <pre class="debug-item-hide m-2 p-2 bg-blue-200 rounded">{{ signature.value | json }}</pre>
  <hr class="mt-4 h-px bg-light border-none">
  <div class="absolute right-0 left-0 p-2">
    <button class="w-full p-2 bg-accent text-white disabled:bg-gray-500 rounded" [disabled]="!isValidated" (click)="generatePdf()">
      Beleg generieren
    </button>
  </div>
</div>