<header class="m-2">
  <h1 class="mt-2 text-xl font-bold">B52 Übergabebeleg</h1>
  <h2 class="mt-4 text-xs text-gray-600">B52 / Übergabebeleg / erstellen</h2>    
</header>

<div>
  <consumer></consumer>
  <content></content>
  <!-- <signature></signature> -->
   <div class="m-2">
    <div class="nxt_button flex flex-col w-full mt-2">
      <label class="nxt_button_label my-2 text-sm leading-none">Unterschrift</label>
      <nxt-signature formControlName="sign"></nxt-signature>
    </div>
   </div>
</div>
