<!-- <svg *ngIf="enabled" fill="none" [ngStyle]="svgStyle" viewBox="0 0 66 66">
  <circle cx="33" cy="33" fill="none" r="28" [attr.stroke]="secondaryColor" [attr.stroke-width]="strokeWidth" />
  <circle class="animate-spin" cx="33" cy="33" fill="none" r="28" stroke="currentColor" stroke-dasharray="1, 174" stroke-dashoffset="306" stroke-linecap="round" [attr.stroke-width]="strokeWidth" [ngStyle]="dashStyle" />
</svg> -->

<!-- easy -->
<div class="h-8 w-8 text-gray-700 fill-blue-600">
  <icons class="w-8 h-8 stroke-2" name="spinner2"></icons>
  <span class="sr-only">Loading...</span>
</div>