<div class="m-2">
    <h2 class="mt-4 text-md text-dark">Inhalt</h2>
    <form [formGroup]="contentForm">
        <accordion [collapsing]="collapsing">
            <accordion-item title="Token" [expanded]="false">
              <ng-template accordionContent>
                <div class="relative flex-auto w-full p-2 overflow-y-auto scrollbar-hide">
                    <!-- <dynamic-table [tableoptions]="tableoptions" [data$]="data$" [pageSize]="4" (action)="returnTableAction($event)" [isEditableInTable]="true"></dynamic-table> -->

                    @defer (when isVisible; prefetch on timer(1000ms)) {
                        <div class="bg-tertiary">
                            <dynamic-table [tableoptions]="tableoptions" [data$]="data$" [pageSize]="4" (action)="returnTableAction($event)" [isEditableInTable]="true"></dynamic-table>
                        </div>
                    }
                    @placeholder (minimum 100ms) {
                        <div class="flex w-full p-2 bg-tertiary justify-center" *ngIf="isSpinnerVisible">
                            <circular-spinner></circular-spinner>
                        </div>
                    }
                    @loading (after 100ms; minimum 150ms) {
                        <div class="h-4 bg-tertiary">Loading</div>
                    }
                    @error {
                        <div class="h-4 bg-tertiary">Error</div>
                    }
                    <!-- <div class="debug-item-hide bg-tertiary text-dark text-xs border-t border-borderline">
                      <pre class="p-2 bg-gradient-45 to-gray-600">{{ (easydata$ | async) | json }}</pre>
                    </div> -->
                    <div class="h-2 bg-tertiary rounded-b-lg"></div>
                </div>
                <!-- <div class="flex flex-col">
                    <table mat-table [dataSource]="tokenDataSource" formArrayName="token" matSort>
                        Row definitions
                        <tr mat-header-row *matHeaderRowDef="tokenColumns"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: tokenColumns;"></tr>
                    
                        <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Nr.</th>
                            <td mat-cell *matCellDef="let row; let index = index"> {{ index + 1 }}. </td>
                        </ng-container>
                        <ng-container matColumnDef="checkbox">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="p-2">
                                    <div class="w-5 h-5 bg-light rounded-sm" (click)="checkAll()">
                                        <input type="checkbox" class="w-full h-full focus:outline-none cursor-pointer" />
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div class="p-2">
                                    <div class="w-5 h-5 bg-light rounded-sm" (click)="check(element)">
                                        <input type="checkbox" class="w-full h-full focus:outline-none cursor-pointer" [checked]="element['checked']"/>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="token_id">
                          <th mat-header-cell *matHeaderCellDef>ID</th>
                          <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index"> 
                            <input type="text" formControlName="token_id">
                          </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="token_sn">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N</th>
                          <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                            <input type="text" formControlName="token_sn">
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                            <div class="h-6 w-6 cursor-pointer" (click)="removeToken(row.token_id)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" /></svg>                                  
                            </div>
                            </td>
                          </ng-container>
                    </table>
                    <button class="bg-white flex flex-row w-full p-2 text-accent items-center justify-center rounded-b shadow-lg" (click)="addToken()">
                        <div class="h-6 w-6 stroke-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                        </div>
                        <span>Token hinzufügen</span>
                    </button>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container *ngFor="let column of tokenColumns" matColumnDef="{{ column }}" class="relative">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
                            <td mat-cell *matCellDef="let element" class="bg-yellow-200">
                              <ng-container *ngIf="editable; else notEditable">
                                <input type="text" [(ngModel)]="element[column]">
                              </ng-container>
                              <ng-template #notEditable>
                                {{ element[column] }}
                              </ng-template>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="tokenColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tokenColumns;" ></tr>
                        add row
                    </table>

                    <div class="flex flex-row items-end" *ngFor="let element of tokenArray.controls; let i = index" formGroupName="{{i}}">
                        <span class="h-7 w-7 text-label text-center">{{ i + 1 }}.</span>
                        <div class="nxt_input flex flex-col w-full mt-1">
                            <label class="nxt_input_label my-2 text-sm leading-none" [for]="'token_sn' + i">Token ID</label>
                            <div class="relative flex items-center">
                                <input type="text" formControlName="token_sn" [id]="'token_sn' + i" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" />
                            </div>
                        </div>
                        <button class="ml-2 p-2 bg-secondary text-red-500 rounded shadow-lg" (click)="removeToken(element.value.token_id)">
                            <div class="h-6 w-6">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </div>
                        </button>
                    </div>
                </div> -->
                <div class="nxt_input flex flex-col w-full mt-1">
                    <label class="nxt_input_label my-2 text-sm leading-none" for="token_description">Bemerkungen</label>
                    <div class="relative flex items-center">
                        <textarea type="text" formControlName="token_description" id="token_description" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" rows="3"></textarea>
                    </div>
                </div>
            </ng-template>
            </accordion-item>
            <!-- <accordion-item title="Endgeräte" [expanded]="false">
              <ng-template accordionContent>
                <div class="flex flex-col">
                    <table mat-table [dataSource]="endgeraeteDataSource" formArrayName="endgeraete" matSort>

                        <tr mat-header-row *matHeaderRowDef="endgeraeteColumns"></tr>
                        <tr mat-row *matRowDef="let row; let i = index; columns: endgeraeteColumns;"></tr>
                    
                        <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Nr.</th>
                            <td mat-cell *matCellDef="let row; let index = index"> {{ index + 1 }}. </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="token_sn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>S/N</th>
                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                            <input type="text" formControlName="token_sn">
                        </td>
                        </ng-container>
                    </table>
                    <button class="flex flex-row w-full p-2 text-accent items-center rounded shadow-lg" (click)="addToken()">
                        <div class="h-6 w-6 stroke-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                        </div>
                        <span>Endgeraet hinzufügen</span>
                    </button>
                </div>
              </ng-template>
            </accordion-item>
            <accordion-item title="sim" [expanded]="false">
              <ng-template accordionContent>
                <div class="flex flex-row-reverse">
                    <button class="p-2 bg-secondary text-accent rounded shadow-lg" (click)="addSim()">
                        <div class="h-6 w-6">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                        </div>
                    </button>
                </div>
                <div class="flex flex-col" formArrayName="sim">
                    <div class="flex flex-row items-end" *ngFor="let element of simArray.controls; let i = index" formGroupName="{{i}}">
                        <span class="h-7 w-7 text-label text-center">{{ i + 1 }}.</span>
                        <div class="grow grid sm:grid-cols-3 gap-2">
                            <div class="nxt_input flex flex-col w-full mt-1">
                                <label class="nxt_input_label my-2 text-sm leading-none" [for]="'sn' + i">S/N</label>
                                <div class="relative flex items-center">
                                    <input type="text" formControlName="sn" [id]="'sn' + i" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" />
                                </div>
                            </div>
                            <div class="nxt_input flex flex-col w-full mt-1">
                                <label class="nxt_input_label my-2 text-sm leading-none" [for]="'rufnummer' + i">Rufnummer</label>
                                <div class="relative flex items-center">
                                    <input type="text" formControlName="rufnummer" [id]="'rufnummer' + i" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" />
                                </div>
                            </div>
                            <div class="flex flex-row">
                                <div class="nxt_input flex flex-col w-full mt-1">
                                    <label class="nxt_input_label my-2 text-sm leading-none" [for]="'pin' + i">PIN</label>
                                    <div class="relative flex items-center">
                                        <input type="text" formControlName="pin" [id]="'pin' + i" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" />
                                    </div>
                                </div>
                                <div class="nxt_input flex flex-col w-full mt-1 ml-2">
                                    <label class="nxt_input_label my-2 text-sm leading-none" [for]="'puk' + i">PUK</label>
                                    <div class="relative flex items-center">
                                        <input type="text" formControlName="puk" [id]="'puk' + i" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="ml-2 h-10 w-10 p-2 bg-secondary text-red-500 rounded shadow-lg" (click)="removeSim(element.value.sim_id)">
                            <div class="h-6 w-6">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="nxt_input flex flex-col w-full mt-1">
                    <label class="nxt_input_label my-2 text-sm leading-none" for="sim_description">Bemerkungen</label>
                    <div class="relative flex items-center">
                        <textarea type="text" formControlName="sim_description" id="sim_description" class="nxt_input_field w-full p-2 border rounded focus:outline-none text-sm font-medium leading-none disabled:pointer-events-none" placeholder="" rows="3"></textarea>
                    </div>
                </div>
              </ng-template>
            </accordion-item> -->
        </accordion>
    </form>
    <hr class="mt-4 h-px bg-light border-none">
    <pre class="debug-item-hide m-2 p-2 bg-blue-200 rounded">{{ contentForm.value | json }}</pre>
</div>